{% extends 'base.html' %}
{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/forms.css'%}">
{% endblock styles %}
{% block title%}Register client{% endblock title%}
{% block body %}
{% load humanize %}
<div class="content-container darken">
    <div class="reg-form">
        <h2 class="form-title">Register a new client</h2>
        <form action="" class="cli-form" method="POST">
            {% csrf_token %}
            {{ form.as_div }}
            <div class="sec-btn extra">
                <input type="submit" value="Save" class="centered">
            </div>
        </form>
    </div>
    <div class="tbl-info opc">
        <div class="tbl-search">
            <table class="search-payments">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>ID Number</th>
                        <th>Client</th>
                        <th>Mobile</th>
                        <th>Registered</th>
                        <th>Actions</th>

                    </tr>
                </thead>
                <tbody>
                    {% for client in content_list%}
                    <tr>
                        <td data-title="No." class="counterCell"></td>
                        <td data-title="ID">{{ client.id_number }}</td>
                        <td data-title="Name">{{ client.name }}</td>
                        <td data-title="Contact">{{ client.msisdn }}</td>
                        <td data-title="Registered">{{ client.created_at }}</td>
                        <td data-title="Actions " class="tbl-icons"><a href="{% url 'update_client' client.id %}"
                                class="updclient-btn"><i class="material-icons tbl-icn">edit</i></a><a
                                href="{% url 'delete_client' client.id %}" class="updclient-btn"><i
                                    class="material-icons tbl-icn">delete</i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="pagination-container">
                {% include 'dashboard/pagination.html'%}
            </div>
        </div>
    </div>
</div>

{% endblock %}