{% extends 'base.html' %}
{% block title%}Completed Contracts{% endblock title%}
{% block body %}
{% load humanize %}
<div class="content-container">
    <div class="tbl-contracts">
        <table class="contracts">
            <thead>
                <tr>
                    <th>Account No.</th>
                    <th>Client</th>
                    <th>Product</th>
                    <th>Price(KES)</th>
                    <th>Signed</th>
                    <th>Expiry</th>
                    <th>Status</th>
                    <th>Salespeople</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for contract in content_list %}
                <tr>
                    <td data-title="Account No. ">PZP{{ contract.id }}</td>
                    <td data-title="Client ">{{ contract.client.name}}</td>
                    <td data-title="Product">{{ contract.product }}</td>
                    <td data-title="Price(KES) ">{{ contract.price|intcomma }}</td>
                    <td data-title="Signed ">{{ contract.created_at|date:'M d, Y h:i A' }}</td>
                    <td data-title="Expiry ">{{ contract.expiry|date:'M d, Y h:i A'}}</td>
                    <td data-title="Status ">{{ contract.status }}</td>
                    <td data-title="Sales person">{{ contract.salesrep }}</td>
                    <td data-title="Actions " class="tbl-icons">
                        <a href="{% url 'show_search' contract.client.id %}"><i
                                class="material-icons tbl-icn">visibility</i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination-container">
            {% include 'dashboard/pagination.html'%}
        </div>
    </div>
</div>
{% endblock %}