{% extends 'base.html' %}
{% block styles%}
{% load static %}
<link rel="stylesheet" href="{% static 'dev/css/forms.css'%}">
{% endblock styles %}
{% block title%}Edit Contracts{% endblock title%}
{% block body %}
{% load humanize %}
<div class="content-container">
    <div class="create">
        <form action="" class="nwfm" method="POST">
            {% csrf_token %}
            <h2 class="form-title">New Client</h2>
            {{ userform.as_div }}
            <h2 class="form-title">Select Product</h2>
            {{ productform.as_div }}
            <input type="submit" value="Save and associate" class="custom-btn new">
        </form>

        {% csrf_token %}
        <form action="" class="nwfm">
            <h2 class="form-title">New Contract</h2>
            {{ contractform.as_div }}
            <input type="submit" value="Create" class="custom-btn new">
        </form>

    </div>
</div>
{% endblock %}