<div class="pagination">
    <ul class="pages">
        {% if item_list.has_previous%}
        <li class="pg-item"><a class="pg-link" href="?paging=1"">&laquo;</a></li>
        <li class=" pg-item"><a class="pg-link" href="?paging={{item_list.previous_page_number}}"">{{item_list.previous_page_number}}</a></li>
        {% endif%}
        <!-- {% for page in content_list.paginator.page_range%}
            <li class=" pg-item pg-range"><a class="pg-link" href="?page={{page}}">{{ page }}</a></li>
        {% endfor%} -->
        <div class="current">
            <span> {{item_list.number }} of {{ item_list.paginator.num_pages}}</span>
        </div>
        {% if item_list.has_next %}
        <li class="pg-item"><a class="pg-link pg-mini"
                href="?paging={{item_list.next_page_number}}">{{item_list.next_page_number}}</a></li>
        <li class="pg-item"><a class="pg-link" href="?paging={{item_list.paginator.num_pages}}">&raquo;</a></li>
        {%endif%}
    </ul>
</div>